/* Start Media */


@media (min-width: 769px) {

}

@media (max-width: 768px) {
    .footer_menu {
        display: none;
    }
    .mainHistory {
        margin-top: 10%;
    }
    .header_screen {
        display: none;
    }
    .footer_contactus {
        display: none;
    }
}

@media (min-width: 993px) {
    .mainHistory {
        margin-top: 5%;
    }
    .header_responsive {
        display: none;
    }
}

@media (max-width: 992px) {
    .header_screen{
        display: none;
    }
    .footer_menu {
        display: none;
    }
    .footer_logo {
        width: 100%;
        margin-top: 5%;
    }
    .mainHome {
        padding-top: 0px;
    }
    .footer_contactus {
        display: none;
    }
}

@media (max-width: 1079px) {
    .footer_logo {
        margin-left: 0%;;
    }
    .footer_menu {
        margin-left: 10%;;
    }
}